header{
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

div.nav-wrapper{
    margin-left: 10px;
    margin-right: 10px;
}

nav > div> div> div > div > a > i.fa-linkedin-in{
    position:relative;
    right: 50px;
}

div.navigation {
    background-color: #36454F;
    border-bottom: 5px solid deepskyblue;
}

ul.foot li, ul.foot li p{
    display: inline;
    padding: 2px;
}

div.foot-text{
    text-align: center;
    color: white;
}

footer{
    background-color: #36454F;
    max-height: 100px;
    margin-top: 20px;
    border-top: 5px solid deepskyblue;
    
}

a > i {
    color: white;
}

div.social-media{
    position: relative;
    bottom:20px;
}

div.about-me, div.projects, div.contact{
    border:3px solid #36454F;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: deepskyblue 0 0 0 3px;
}

div.image-me > img{
    top:-10%;
    border:2px solid #36454F;
    border-radius: 5px;
    margin: 5%;
    
}

img {
    width: 100%;
    height: auto;
}

div.about-me > h3, div.projects > h3, div.contact > h3{
    position:relative;
    bottom: 50px;
    font-size: 40px;
    margin-left: 3%;
    background-color: white;
    max-width: fit-content;
    margin-bottom: -30px;
    padding-left: 2px;
    padding-right: 2px;
    -webkit-text-stroke:1px deepskyblue;;
    -webkit-text-fill-color:#36454F;
}

div > i {
    -webkit-text-stroke:1px #36454F;
    -webkit-text-fill-color:deepskyblue;
}

h1{
    font-family: 'Arizonia', cursive;
    text-decoration: underline;
    text-decoration-color: deepskyblue;
    font-size: 80px;
}

h2{
    font-family: 'Bree Serif', serif;
    font-size: 48px;
    position: relative;
    top:-44px;
}

h3 {
    font-family: 'Lobster', cursive;
}

div.flex-center-vertically {
    position: relative;
    left: 30px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

a > img {
    border: 3px solid #36454F;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.projects {
    text-align: center;
}

a.repoLink {
    font-size: 14px;
}

div.projectLinks {
    margin-bottom: 20px;
    margin-top: 20px;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
}

button.btn {
    background-color: deepskyblue;
    border: 2px solid #36454F;
}

button.btn:hover {
    background-color: #36454F;
    border: 2px solid deepskyblue;
}

img.thumbnail:hover{
    position: relative;
    top: -25px;
    left: -35px;
    width: 300px;
    height: auto;
    display: block;
    z-index: 999;
}

span {
    font-size: 18px;
    font-family: 'Bree Serif', Serif;
}